$wet-asphalt: #444444;
$almost-black: #111111;
$gainsborough: #e6e6e6;
$white: #ffffff;
$leaf: #68b738;
$smoky: #f2f2f2;
$grey: #d9d9d9;
$telegray: #cdcdcd;
$separator-grey: 1px solid #d9d9d9;
$dull-grey: #666666;